@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #bcbcbc;
  --black: #000000;
  --gray : #D9d9d9;
}

/* fonts */

@font-face {
    font-family: 'dos';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
    font-family: 'Gothic';
    src: url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css') format('css');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 300; /* Light */
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 400; /* Regular */
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 700; /* Bold */
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 800; /* ExtraBold */
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
    font-family: 'Gothic';
    font-style: normal;
    font-weight: 900; /* Heavy */
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"),
         url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --breakpoint-xs: 30rem;
  --breakpoint-xl: 80rem;
  --breakpoint-3xl: 120rem;
  --font-dos: 'dos', 'inter';
  --font-gothic: 'Gothic', serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Gothic';
}

footer {
  background: var(--background);
  font-family: 'dos';
}

header{
  font-family: 'dos';
}

title {
  background: var(--background);
  font-family: 'serif';
}


.blur-gradient {
  position: relative;
}

.blur-gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(0px);
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  pointer-events: none;
}

.blur-strong {
  filter: blur(1px);
}

.blur-medium {
  filter: blur(0.8px);
}

.blur-none {
  filter: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.mask-horizontal-fade {
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 8%, black 92%, transparent 100%);
  mask-image: linear-gradient(to right, transparent 0%, black 8%, black 92%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.fade-edge-mask {
  -webkit-mask-image: 
    linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  mask-image: 
    linear-gradient(to bottom, transparent 0%, black 5%, black 95%, transparent 100%),
    linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  -webkit-mask-composite: intersect;
  mask-composite: intersect;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.shade-big {
  box-shadow: 0px 0px 5px 2px rgba(61, 61, 61, 0.33);
}
.shade-small {
    box-shadow: 0px 0px 5px 1px rgba(61, 61, 61, 0.33);
}
.shade-xs {
    box-shadow: 0px 0px 3px 0.5px rgba(145, 145, 145, 0.33);
}

ul.custom-bullet {
  list-style: none; 
}

ul.custom-bullet li {
  position: relative;
  padding-left: 20px;
}

ul.custom-bullet li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px; 
  height: 15px; 
  background-image: url('/images/fav.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@layer components {
  .prose {
    @apply text-xs font-medium text-black;
    font-family: var(--font-gothic);
    overflow-wrap: break-word;
    word-break: break-word;
    line-height: 1.6;
  }

  .prose h1 {
    @apply text-lg xl:text-2xl pt-3 text-center text-black;
    font-family: var(--font-dos);
  }

  .prose h2 {
    @apply text-base pt-5 pb-2 text-center text-black;
    font-family: var(--font-dos);
  }

  .prose h3 {
    @apply text-base pt-5 pb-2 font-medium text-center text-black;
    font-family: var(--font-dos);
  }

  .prose h4 {
    @apply text-sm pt-8 pb-2 font-medium text-center text-black;
    font-family: var(--font-dos);
  }

  .prose p {
    @apply text-black;
    padding-top: 0.5rem;  
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  .prose br {
    display: block;
    content: "";
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  
  .prose hr {
    border: none;
    text-align: start;
    margin: 0.5rem 0;
    width: 100%;
    position: relative;
    height: 1.5rem; 
  }

  .prose hr::before {
    content: "｡·.☆.｡˚౨ৎ˚｡.☆.·｡";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.7rem;
    color: black;
    letter-spacing: 0.1rem; 
  }

  .prose ul {
    @apply list-none pl-2 relative;
  }

  .prose ul p {
    padding-top: 0; 
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .prose ul li {
    position: relative;        
    padding-left: 2rem; 
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
  }
  .prose ul li p {
    padding-top: 0;   
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .prose ul li::before {
    content: "";
    position: absolute;       
    left: 0;
    top: 0.7rem;                 
    width: 10px;
    height: 10px;
    background-image: url('/images/fav.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .prose table {
    @apply w-full table-auto border text-center border-black;
    max-width: 100%;
    height: auto;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .prose th {
    @apply bg-gray-100 px-2 py-1 border border-black;
  }

  .prose td {
    @apply px-1 py-2 border border-black;
  }

  .prose pre {
    @apply bg-gray-900 text-white text-xs p-3 rounded-md overflow-x-auto;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .prose code {
    @apply font-mono;
  }

  .prose :not(pre) > code {
    @apply bg-gray-100 text-pink-700 px-1 py-0.5 rounded;
  }

  .prose a {
    @apply text-[#525252] font-semibold transition-colors duration-200;
  }

  .prose a:hover {
    @apply text-[#96c2f8] font-semibold;
  }

  .prose img {
    padding: 2%;
  }
}


.img-row {
  display: flex;
  gap: 0%;
  padding: 2%;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.img-row img {
  object-fit: cover;
  padding: 2%;
}

